Source: checksumo
Section: utils
Priority: optional
Maintainer: Dawid Dziurla <dawidd0811@gmail.com>
Build-Depends: debhelper, libgtk-3-dev, golang-any
Standards-Version: 4.1.4
Homepage: https://github.com/dawidd6/checksumo
Vcs-Browser: https://github.com/dawidd6/checksumo
Vcs-Git: https://github.com/dawidd6/checksumo

Package: checksumo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple application for verifying specified file against given hash
 Written in Go with GTK+3 graphical interface.
 .
 Automatically detects the following hash types:
  - SHA-256
  - SHA-512
  - MD5
