#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_build:
	dh_auto_build -- -tags gtk_3_22 -ldflags "-s -w -X github.com/dawidd6/checksumo.version=$(DEB_VERSION_UPSTREAM)"

override_dh_auto_test:
