name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: Install deps
        run: sudo apt install -y libgtk-3-dev
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: ${{runner.os}}-go-build-${{hashFiles('**/*.go')}}
          restore-keys: ${{runner.os}}-go-build
      - name: Build binary
        run: make
      - name: Test code
        run: make test
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: debian/tmp
          key: debian-package-build
      - name: Build package
        uses: dawidd6/action-debian-package@v1
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          path: '*.deb'
